/*----------------------------
  Dash: About Page
-----------------------------*/

/*---------- Skills Section ----------*/

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-set,
.tools-languages {
  width: 80%;
  margin: 20px auto 35px;
  padding: 25px 30px;
  text-align: center;
  border: $border-default;
  position: relative;
}

.skill-set h3 {
  width: 140px;
  @include about-heading;
}

.tools-languages {
  margin-bottom: 5px;
  h3 {
    width: 250px;
    @include about-heading;
  }
}


/*---------- About Write-Up ----------*/

.page-template-about {

  .entry-content {
    margin-top: 50px;
    padding: 20px 20px 0;
    border-top: $border-default;
    position: relative;
  }

}

.her-story {
  width: 160px;
  @include about-heading;
}

.word-play {
  font-family: $font_accent-emphasize;
}
