/*----------------------------
  Dash: About Page
-----------------------------*/

.page-template-about {

  .entry-title {
    margin: 40px auto 45px;
  }

}


/*---------- Skills Section ----------*/

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    width: 900px;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.skill-set,
.tools-languages {
  width: 80%;
  margin: 20px auto 35px;
  padding: 25px 30px;
  text-align: center;
  border: $border-default;
  position: relative;

  @include tablet {
    width: 70%;
  }

  @include desktop {
    width: 40%;
    min-height: 400px;
    height: auto;
    padding: 25px 0 0;
    font-size: 0.9rem;
  }
}

.skill-set {
  h3 {
    width: 140px;
    @include about-heading;
  }

  @include desktop {
    margin: 15px 0 15px 0;
  }
}

.tools-languages {
  margin-bottom: 5px;
  h3 {
    width: 250px;
    @include about-heading;
  }

  @include desktop {
    margin: 15px 0 0 15px;
  }
}


/*---------- About Write-Up ----------*/

.page-template-about {

  .entry-content {
    margin-top: 52px;
    padding: 20px 20px 0;
    border-top: $border-default;
    position: relative;

    @include desktop {
      width: 90%;
      margin: 52px auto 0;
      padding: 30px 8px 0;
    }
  }

}

.her-story {
  @include about-heading;
  width: 160px;
  font-size: 1.4rem;
  padding: 0 20px;
}

.word-play {
  font-family: $font_accent-emphasize;
}
