/*----------------------------
  Dash: Contact Page
-----------------------------*/

.page-template-contact {

  .entry-title {
    margin: 40px auto 0;
  }

  .entry-content {
    text-align: center;
    @include tablet {
      width: 80%;
      margin: 1.5em auto 0; //Overrides right and left margins only
    }
  }

}


/*---------- Contact Form ----------*/

.contact-container {
  img {
    display: none; //Includes Ajax loader image
  }
  .wpcf7-form input,
  .wpcf7-form textarea {
    width: 100%;
    margin: 0 auto;
    padding: 5px 15px;
    color: $dark-gray;
    font-family: $font_accent;
    letter-spacing: 1px;
    border: $border_default;
    border-radius: 0;
    outline-color: $color_form-outline;
  }
  .wpcf7-submit {
    height: 50px;
    padding: 5px;
    font-size: 1rem;
    color: $green;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .wpcf7-not-valid-tip {
    font-style: italic;
  }
  .wpcf7-validation-errors {
    color: red;
    font-style: italic;
    border: 1px dashed red;
  }
  .wpcf7-mail-sent-ok {
    border: 1px dashed $color_form-sent-ok;
  }

  @include tablet {
    .wpcf7 {
      width: 80%;
      margin: auto;
    }
  }

  @include desktop {
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    .contact-image {
      width: 50%;
      height: 515px;
      overflow: hidden;
      img {
        width: 100%;
        max-width: none;
        height: auto;
        transform: translateY(-50px);
        display: block;
      }
    }
    .wpcf7 {
      flex-basis: 40%;
      align-self: flex-start;
      p {
        margin-top: 0; //Vertically aligns the form with accompanying photo at flex-start
      }
    }
  }
}


/*---------- Connect with Me Section ----------*/

.connect-container {
  display: none;

  @include desktop {
    width: 80%;
    min-height: 60px;
    margin: 50px auto 60px;
    padding: 20px;
    text-align: center;
    border: $border_default;
    display: block;
    position: relative;
    h3 {
      width: auto;
      padding: 0 20px;
      font-family: $font_accent;
      text-transform: uppercase;
      letter-spacing: 3px;
      background-color: #fff;
      position: absolute;
      top: -34px;
      left: 25px;
    }
    i {
      margin: 0 10px;
      font-size: 2rem;
      color: $color_icons;
      &:hover {
        color: $color_links;
      }
    }
  }
}
