/*----------------------------
  Dash: Downloads Page
-----------------------------*/

.page-template-downloads {

  .entry-title {
    margin: 40px auto 45px;
  }

  .entry-content {
    width: 100%;
    height: 65vh;
    background:
      linear-gradient( to bottom, rgba(88,88,90,0.4) 0%, rgba(88,88,90,0.8) 100% ),
      url('../../assets/images/to-do.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      width: 80%;
      margin: 0 5px;
      padding: 20px;
      font-size: 1.4rem;
      color: #fff;
      text-align: center;
      letter-spacing: 2px;
      border: $border-default;

      @include desktop {
        width: 650px;
      }
    }
  }

}
