/*----------------------------
  Dash: Fonts
-----------------------------*/

/*---------- Bariol ----------*/

@font-face {
    font-family: 'Bariol Regular';
    src: url('../../assets/fonts/bariol_regular-webfont.eot');
    src: url('../../assets/fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/bariol_regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/bariol_regular-webfont.woff') format('woff'),
         url('../../assets/fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular Italic';
    src: url('../../assets/fonts/bariol_regular_italic-webfont.eot');
    src: url('../../assets/fonts/bariol_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/bariol_regular_italic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/bariol_regular_italic-webfont.woff') format('woff'),
         url('../../assets/fonts/bariol_regular_italic-webfont.ttf') format('truetype'),
         url('../../assets/fonts/bariol_regular_italic-webfont.svg#bariolregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*---------- Lora ----------*/

@font-face {
    font-family: 'Lora Regular';
    src: url('../../assets/fonts/lora-regular-webfont.eot');
    src: url('../../assets/fonts/lora-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/lora-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/lora-regular-webfont.woff') format('woff'),
         url('../../assets/fonts/lora-regular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/lora-regular-webfont.svg#loraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora Italic';
    src: url('../../assets/fonts/lora-italic-webfont.eot');
    src: url('../../assets/fonts/lora-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/lora-italic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/lora-italic-webfont.woff') format('woff'),
         url('../../assets/fonts/lora-italic-webfont.ttf') format('truetype'),
         url('../../assets/fonts/lora-italic-webfont.svg#loraitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora Bold';
    src: url('../../assets/fonts/lora-bold-webfont.eot');
    src: url('../../assets/fonts/lora-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/lora-bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/lora-bold-webfont.woff') format('woff'),
         url('../../assets/fonts/lora-bold-webfont.ttf') format('truetype'),
         url('../../assets/fonts/lora-bold-webfont.svg#lorabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora Bold Italic';
    src: url('../../assets/fonts/lora-bolditalic-webfont.eot');
    src: url('../../assets/fonts/lora-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/lora-bolditalic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/lora-bolditalic-webfont.woff') format('woff'),
         url('../../assets/fonts/lora-bolditalic-webfont.ttf') format('truetype'),
         url('../../assets/fonts/lora-bolditalic-webfont.svg#lorabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
