/*----------------------------
  Dash: Footer
-----------------------------*/

//Hide default content
.site-info {
  display: none;
}

.site-footer {
  margin-top: 30px;
  text-align: center;
  i {
    margin: 0 2px;
    color: $color_icons;
    &:hover {
      color: $color_links-hover;
    }
  }
  p {
    font-size: 0.7rem;
    line-height: normal;
  }
}
