/*----------------------------
  Dash: Front Page
-----------------------------*/

.home {

  .entry-title {
    margin: 25px 0 0;
  }
  .entry-content {
    text-align: center;
    @include tablet {
      width: 50%;
    }
  }

}


/*---------- Slider ----------*/

#wpflickity-1 {
  margin: 30px 0 60px;
  .flickity-viewport {
    @include desktop {
      width: auto;
      height: 80vh !important; //Important needed to override plugin style
    }
  }
}

.flickity-slider img {
  @include desktop {
    transform: translateY(-20%);
  }
}


/*---------- Passion Grid ----------*/

.passion-grid {
  width: 100%;
  margin: 20px 0;
  font-family: $font_accent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-width: 1px 0;
  border-style: dashed;
  border-color: $color_border;
  h2 {
    font-size: 1.3rem;
  }
  i {
    margin: 0 10px;
    color: $color_icons;
    align-self: center;
  }

  @include tablet {
    max-width: 580px;
    margin: 0 auto 30px;
    display: flex;
    flex-flow: row wrap;
  }

  @include desktop {
    max-width: 750px;
  }
}

//Shared styles of BOTH main-passion and secondary-passion
.main-passion,
.secondary-passion {
  div {
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    padding: 10px 0;
    display: flex; //For icons and headings
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: $border_default;
  }

  @include tablet {
    width: 100%;
    padding: 8px 0;
    border-bottom: $border_default;
    display: flex;
    flex-flow: row nowrap;
    div {
      border-bottom: 0;
    }
  }
}

//Styles for main-passion only
@include tablet {
  .main-passion div:first-child {
    border-right: $border_default;
  }
}

//Styles for secondary-passion only
.secondary-passion {
  div:last-child {
    border-bottom: 0;
  }

  @include tablet {
    border-bottom: 0;
    div {
      width: 33.3%;
      min-height: 20px;
    }
    h2 {
      font-size: 0.9rem;
    }
    i {
      font-size: 1.2rem;
    }
    div:first-child {
      border-right: $border_default;
    }
    div:nth-child(2) { //Creative Writing section
      padding-right: 10px;
      border-right: $border_default;
      display: flex;
      justify-content: center;
      flex-basis: 35%;
      align-content: flex-start;
      a {
        order: 2;
      }
    }
  }

  @include desktop {
    h2 {
      font-size: 1rem;
    }
    i {
      font-size: 1.4rem;
    }
    div:nth-child(2) {
      padding-right: 18px;
    }
  }
}
