/*----------------------------
  Dash: Header
-----------------------------*/

//Hide default styles
.site-description {
  display: none;
}

//Container of both logo and menu nav
.site-header {
  width: 100%;
  height: auto;
  margin-top: 55px;
  border-width: 1px 0;
  border-style: dashed;
  border-color: $color_border;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  @include desktop {
    width: 90%;
    height: 50px;
    margin: 55px auto 20px;
  }
}

.logo {
  width: 78px;
  height: 78px;
  margin: 0 auto;
  position: absolute;
  top: -41px;
  right: 0;
  bottom: 0;
  left: 0;
  @include desktop {
    top: -20px;
    right: 80%;
    bottom: 0;
    left: 0;
  }
}


/*---------- Navigation ----------*/

.main-navigation {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.menu-toggle {
  width: 100%;
  height: auto;
  margin: 30px auto 20px;
  padding: 0;
  font-size: 1.2rem;
  color: $color_links;
  font-family: $font_accent;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: none;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  box-shadow: none;
  &:focus {
    border-color: transparent;
    box-shadow: none;
  }
}

//Container of Parent Menu Items
.menu-main-navigation-container {
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  font-family: $font_accent;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include tablet {
    margin-top: 20px;
  }
  @include desktop {
    width: 80%;
    height: 50px;
    padding: 8px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: 15%;
    left: 15%;
    bottom: 0;
  }
  li {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 25px;
    text-align: center;
    top: 0;
    @include desktop {
      width: auto;
    }
  }
}

//Adjusts line height of parent menu items only
.menu > li {
  margin: 3px 0;
  &:last-child {
    margin-bottom: 18px;
  }
}

.menu-item-has-children {
  cursor: pointer;
}

.main-navigation .sub-menu,
.main-navigation.toggled .sub-menu {
  width: 200px;
  min-height: 140px;
  height: auto;
  margin: 5px auto;
  font-size: 0.8rem;
  background-color: #fff;
  border-width: 0 1px;
  border-color: $color_links;
  border-style: dashed;
  z-index: 9999;
  display: none; //Initial state of sub-menu until clicked
  @include desktop {
    margin-top: 10px;
    border-width: 0 1px 1px;
  }
  a {
    text-align: center;
    color: $color_default-text;
    &:hover{
      color: $color_links;
    }
  }
}
