/*----------------------------
  Dash: Mixins
-----------------------------*/

//Absolute-Positioned Headings of Sections on About Page
@mixin about-heading {
  height: 30px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: $font_accent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #fff;
  position: absolute;
  top: -15px;
  right: 0;
  bottom: 0;
  left: 0;
}

//Buttons on Single Portfolio Posts
@mixin single-portfolio-button {
  padding: 8px 12px;
  color: #fff;
  font-size: 0.8rem;
  font-family: $font_accent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: $color_default-text;
  &:hover {
    background-color: $color_border;
    transition: background-color 1s;
    border: 1px dashed $color_default-text;
  }
}


/*---------- Media Queries ----------*/

@mixin tablet {
  @media (min-width: $breakpoint_tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint_desktop) {
    @content;
  }
}

//Keeps primary menu block from breaking when sub-menu is open
@mixin desktop-fix {
  @media (min-width: $breakpoint_desktop-fix) {
    @content;
  }
}

//Keeps primary menu block when left ad right margins of menu items are increased
@mixin desktop-second-fix {
  @media (min-width: $breakpoint_desktop-second-fix) {
    @content;
  }
}
