/*----------------------------
  Dashed: Page Templates
  These are shared default styles across pages of the site.
  For page-exclusive styles, refer to their respective stylesheets.
-----------------------------*/

html {
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font: 1rem/1.8rem $font-main;
  color: $color_default-text;
}

a,
a:visited, {
  color: $color_links;
  text-decoration: none;
  transition: color 1s;
}

a:hover {
  color: $color_links-hover;
}

i {
  transition: color 1s;
}

//Page Titles
.entry-title {
  font-size: 1.5rem;
  font-family: $font_accent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

//Titles for Archive Pages
.archive {
  .entry-title {
    margin: 40px auto 45px;
  }
}

//Slash Dividers
.slash-style {
  color: $color_slash;
}

//Hide Widget Area
.widget-area {
  display: none;
}
