/*----------------------------
  Dash: Variables
-----------------------------*/

/*---------- Fonts ----------*/

$font_main: 'Droid Serif', serif;
$font_accent: 'Bariol Regular', sans-serif;
$font_accent-emphasize: 'Bariol Regular Italic', sans-serif;


/*---------- Colors: Descriptive ----------*/

$green: #abd173;
$light-gray: #bab9b9;
$medium-gray: #a29f9f;
$dark-gray: #58585a;


/*---------- Colors: Functional ----------*/

//Plain Text
$color_default-text: $dark-gray;
$color_form-input: $dark-gray;

//Links
$color_links: $green;
$color_links-hover: $dark-gray;

//Borders and Outlines
$color_border: $light-gray;
$color_form-outline: $dark-gray;
$color_form-sent-ok: $green;

//Icons & Other Design Styles
$color_icons: $medium-gray;
$color_slash: $light-gray;


/*---------- Border ----------*/
$border_default: 1px dashed $color_border;
