/*----------------------------
  Dash: Variables
-----------------------------*/

/*---------- Fonts ----------*/

$font_main: 'Droid Serif', serif;
$font_accent: 'Bariol Regular', sans-serif;


/*---------- Colors: Descriptive ----------*/

$green: #abd173;
$light-gray: #bab9b9;
$medium-gray: #a29f9f;
$dark-gray: #58585a;

/*---------- Colors: Functional ----------*/

//Plain Text
$color_default-text: $dark-gray;

//Links
$color_links: $green;

//Border
$color_border: $light-gray;
